# Compiled junk
###############################################################################
*.d
*.o
*.a
*.so
*.lib
*.dll
*.exe
*.pyc
*.pyo
*.class

# Eclipse junk
###############################################################################
*.project
*.cproject
*.settings

